* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the top navigation bar */
nav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    padding: 10px;
    height: 200px;
}

/* Style the footer */
footer {
    background-color: #f1f1f1;
    padding: 10px;
}

.nes-field {
    margin: 15px;
}

.nes-container.is-rounded {
    margin: 30px;
}

section.message-list {
    display: flex;
    flex-direction: column;
}

.message-list > .message.-left {
    align-self: flex-start;
}

.message-list > .message.-right {
    align-self: flex-end;
}

.message-list > .message {
    display: flex;
    margin-top: 2rem;
}

.message-list > .message.-left i {
    margin-right: 2rem;
}

.message-list > .message.-right i {
    margin-left: 2rem;
}