<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Pok&eacute;decks
        </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <nav>            
            <a href="/">Pok&eacute;decks</a>
            <a href="/profile">Profile</a>
            <div class="dropdown">
                <button class="dropbtn">Decks
                </button>
                <div class="dropdown-content">
                  <a href="/user-decks">Your Decks</a>
                  <a href="/decks">All Decks</a>
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <form action="/logout" method="POST"><button class="linkbtn">Logout</button></form>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </nav>

        <div class="content">
            {% block content %}

            {% endblock %}            
        </div>

    </body>
</html>