{% extends "base.html" %}
{% block content %}
<h1>Create Deck</h1>

<div class="nes-container is-rounded {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}">
    <form action="/deck/" method="POST">
        <div class="nes-field">
            <label for="name">Deck Name</label>
            <input type="text" id="name" name="name" class="nes-input {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}">
        </div>
        <div class="nes-field">
            <button type="submit" class="nes-btn is-primary">Create</button>
        </div>
    </form>
</div>
{% endblock %}
