{% extends "base.html" %}
{% block content %}
    <h1>All Decks</h1>
    <div class="nes-container {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}">
    {% if page_data.decks | length > 0 %}
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}">
            <thead>
            <tr>
                <th>Deck Name</th>
                <th>Created By</th>
                <th>Date Created</th>
            </tr>
            </thead>
            <tbody>
                {% for deck in page_data.decks %}
                <tr>
                    <td><a href="/decks/{{ deck.id }}">{{ deck.name }}</a></td>
                    <td>
                        {% if deck.user.user_settings['is_anon_mode'] %}
                            Anonymous
                        {% else %}
                            {{ deck.user['username'] }}
                        {% endif %}
                        </td>
                    <td>{{ deck.date_created }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No decks available! Add decks by clicking the "Add New Deck" button.</p>
    {% endif %}

    <div>
        <a class="nes-btn is-primary" href="/deck/">Add New Deck</a>
    </div>
</div>
{% endblock %}