{% extends "base.html" %}
{% block content %}
    <h1>Let's Brock and Roll!</h1>

    <div class="nes-container is-rounded">
        <div class="nes-field">
            <label>Format</label>                
            <span class="nes-text">Standard</span>
        </div>
        <div class="nes-field">
            <label>Created By</label>                
            <span class="nes-text">Brockolli</span>
        </div>
    </div>
    
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Set</th>
                    <th>Type</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Umbreon V</td>
                    <th>Evolving Skies</th>
                    <td>Pok&eacute;mon</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Copycat</td>
                    <th>Evolving Skies</th>
                    <td>Trainer</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}