{% extends "base.html" %}
{% block content %}
    <h1>All Decks</h1>

    <div class="nes-table-responsive">
        <table class="nes-table is-bordered">
            <thead>
            <tr>
                <th>Deck Name</th>
                <th>Created By</th>
                <th>Date Created</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="/decks/1">Let's Brock and Roll!</a></td>
                <td>Brockolli</td>
                <td>YYYY/MM/DD</td>
            </tr>
            <tr>
                <td><a href="/decks/2">Flab&eacute;b&eacute; Back Ribs</a></td>
                <td>Outback Bakehouse</td>
                <td>YYYY/MM/DD</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a class="nes-btn is-primary" href="/decks/new/">Add New Deck</a>
    </div>

{% endblock %}