{% extends "base.html" %}
{% block content %}
    <h1>{{ page_data.deck["name"] }}</h1>

    <div class="nes-container is-rounded">
        <div class="nes-field">
            <label>Created By</label>                
            <span class="nes-text">{{ page_data.deck["user"]["username"] }}</span>
        </div>
        <div class="nes-field">
            <label>Date Created</label>                
            <span class="nes-text">{{ page_data.deck["date_created"] }}</span>
        </div>
    </div>
    
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Set</th>
                    <th>Type</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <!--
                <tr>
                    <td>Umbreon V</td>
                    <th>Evolving Skies</th>
                    <td>Pok&eacute;mon</td>
                    <td>3</td>
                </tr> -->
            </tbody>
        </table>
    </div>
{% endblock %}