{% extends "base.html" %}
{% block content %}
    <h1>Let's Brock and Roll!</h1>

    <div class="nes-container is-rounded">
        <div class="nes-field">
            <label>Format</label>                
            <span class="nes-text">Standard</span>
        </div>
        <div class="nes-field">
            <label>Created By</label>                
            <span class="nes-text">Brockolli</span>
        </div>
    </div>
    
    <div class="nes-table-responsive">
        <table class="nes-table is-bordered">
            <thead>
            <tr>
                <th>Card Name</th>
                <th>Type</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Let's Brock and Roll!</td>
                <td>Brockolli</td>
                <td>YYYY/MM/DD</td>
            </tr>
            <tr>
                <td>Flab&eacute;b&eacute; Back Ribs</td>
                <td>Outback Bakehouse</td>
                <td>YYYY/MM/DD</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}