{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<form action="/login" method="POST">
    <div class="nes-container is-rounded">

        <div class="nes-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="nes-input">
        </div>
        <div class="nes-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="nes-input">
        </div>
        <div class="nes-field">
            <button type="submit" class="nes-btn is-primary">Login</button>
        </div>
    </div>
</form>

<div>
    <p>Not registered? Signup!</p>
    <a class="nes-btn" href="/signup">Signup</a>
</div>
{% endblock %}