{% extends "base.html" %}
{% block content %}
    <h1>My Decks</h1>

    <div class="nes-table-responsive">
        <table class="nes-table is-bordered">
            <thead>
            <tr>
                <th>Deck Name</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for deck in page_data.decks %}
                <tr>
                    <td><a href="/decks/{{ deck.id }}">{{ deck.name }}</a></td>
                    <td>{{ deck.date_created }}</td>
                    <td>
                        <a href="/deck/{{ deck.id }}" class="nes-btn is-success">Edit Deck</a>
                        <a href="/deck/{{ deck.id }}/cards/" class="nes-btn is-warning">Edit Cards</a>
                        <form action="/deck/{{ deck.id }}/delete/" method="POST"><button class="nes-btn is-error">Delete</button></form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a class="nes-btn is-primary" href="/deck/">Add New Deck</a>
    </div>
{% endblock %}