{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>

<div class="nes-container is-rounded with-title {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}">
    <p class="title">Your Details</p>
    <form>
        <div class="nes-field">
            <label>Username</label>
            <span class="nes-text">{{ current_user.username }}</span>
        </div>
        <div class="nes-field">
            <label>Email Address</label>
            <span class="nes-text">{{ current_user.email }}</span>
        </div>
    </form>
</div>

<form action="/profile" method="POST">
    <div class="nes-container is-rounded with-title {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}">
        <p class="title">Your Settings</p>
        <div>
            <label for="is_dark_mode">
                <input type="checkbox" id="is_dark_mode" name="is_dark_mode" class="nes-checkbox {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}" {{
                     "checked" if page_data.settings["is_dark_mode"] }}/>
                <span>Dark Mode</span>
            </label>
        </div>
        <div>
            <label for="is_anon_mode">
                <input type="checkbox" id="is_anon_mode" name="is_anon_mode" class="nes-checkbox {{ 'is-dark' if current_user.is_authenticated and current_user.user_settings.is_dark_mode }}" {{
                    "checked" if page_data.settings["is_anon_mode"] }} />
                <span>Anonymous Mode</span>
            </label>
        </div>

    </div>

    <div class="nes-field">
        <button type="submit" class="nes-btn is-primary">Save</button>
    </div>
</form>
{% endblock %}