{% extends "base.html" %}
{% block content %}
    <h1>Decks</h1>

    <div class="nes-table-responsive">
        <table class="nes-table is-bordered">
            <thead>
            <tr>
                <th>Deck Name</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Let's Brock and Roll!</td>
                <td>YYYY/MM/DD</td>
                <td>
                    <button type="button" class="nes-btn is-success">Edit</button>
                    <button type="button" class="nes-btn is-error">Delete</button>
                </td>
            </tr>
            <tr>
                <td>Flab&eacute;b&eacute; Back Ribs</td>
                <td>YYYY/MM/DD</td>
                <td>
                    <button type="button" class="nes-btn is-success">Edit</button>
                    <button type="button" class="nes-btn is-error">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a class="nes-btn is-primary" href="/decks/new/">Add New Deck</a>
    </div>

{% endblock %}